<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <Script src="~/lib/jquery/jquery.js"></Script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
</head>


@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewBag.Title = "All Roles";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1>All Roles</h1>
@if(Model.Any()){
<a class="btn btn-primary" style="width: auto" asp-action="CreateRole" asp-controller="Administration">
    Add New Role
</a>
    foreach(var role in Model)
    {
        <div class="mb-3">
            <div class="card-header">
                Role id: @role.Id
                </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
                </div>
            <div class="card-footer">
                <a class="btn btn-primary" asp-action="EditRole" asp-controller="Administration" asp-route-id="@role.Id">Edit</a>
                <a href="#" class="btn btn-primary">Delete</a>


            </div>
            </div>
    }

}
else {
    <div class="card">
        <div class="card-header">
            No Role Created Yet

        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use this button to create Role
                </h5>
            <a class="btn btn-primary" style="width: auto" asp-action="CreateRole" asp-controller="Administration">
                Create Role
                </a>
        </div>
</div>

}
