<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <Script src="~/lib/jquery/jquery.js"></Script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
</head>

<div class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <h6 class="text-danger">YOU DO NOT HAVE PERMISSION TO VIEW THIS RESOURSE</h6>
    <img src="~/images/pngtree-no-entry-icon-design-image_1364549.jpg" style="height:500px;width:500px" />

</div>
